@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --tw-bg-opacity: 1;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --tw-bg-opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground cursor-kunai;
  }
}

.hokage {
  @apply bg-gradient-to-r from-[#006400] via-[#228B22] to-[#90EE90] bg-clip-text text-transparent;
}

.character {
  @apply bg-gradient-to-r from-[#F97316] via-[#FF4500] to-[#EF4444] bg-clip-text text-transparent;
}

.clan {
  @apply bg-gradient-to-r from-[#F97316] via-[#FF4500] to-[#EF4444] bg-clip-text text-transparent;
}

.kazekage {
  @apply bg-gradient-to-r from-[#FFD700] via-[#FFA500] to-[#F0E68C] bg-clip-text text-transparent;
}

.raikage {
  @apply bg-gradient-to-r from-[#0000FF] via-[#1E90FF] to-[#4169E1] bg-clip-text text-transparent;
}

.tsuchikage {
  @apply bg-gradient-to-r from-[#B8860B] via-[#CD853F] to-[#9B7F5C] bg-clip-text text-transparent;
}

.mizukage {
  @apply bg-gradient-to-r from-[#008080] via-[#20B2AA] to-[#7FFFD4] bg-clip-text text-transparent;
}

.akatsuki {
  @apply bg-gradient-to-r from-[#540707] via-[#8B0000] to-[#ec5353] bg-clip-text text-transparent;
}

.jinchuuriki {
  @apply bg-gradient-to-r from-[#F97316] via-[#FF4500] to-[#EF4444] bg-clip-text text-transparent;
}

.kekkei_genkai {
  @apply bg-gradient-to-r from-[#F97316] via-[#FF4500] to-[#EF4444] bg-clip-text text-transparent;
}

.bijuu {
  @apply bg-gradient-to-r from-[#F97316] via-[#FF4500] to-[#EF4444] bg-clip-text text-transparent;
}

html {
  scrollbar-gutter: stable;
}